<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Notion</h1>
  </div>

  <div 
      id="blocks" 
      class="min-w-full h-full cursor-text"
      data-controller="container"
      data-action="click->container#clicked"
  >
    <%= turbo_stream_from "blocks" %>
    <%= turbo_frame_tag "blocks", data: {container_target: 'container'}  do %>
      <%= render @blocks %>
    <% end %>
    <%= render 'form', data: {container_target: 'newInput'}%>
  </div>
</div>
