<div class="w-full flex flex-col">
  <div class="flex justify-between items-center ">
    <h1 class="font-bold text-4xl">Notion</h1>
  </div>

  <div 
      id="blocks" 
      class="max-w-screen-md w-4/6 h-full cursor-text self-center border-x p-3"
      data-test="blocks"
      data-controller="container"
      data-action="click->container#clicked"
  >
    <%= turbo_stream_from "blocks" %>
    <%= turbo_frame_tag "blocks", data: {container_target: 'container'}  do %>
      <%= render @blocks %>
    <% end %>
    <%= render 'form', data: {container_target: 'newInput'}%>
  </div>
</div>
